@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}




/* NAVIGATION BAR */

header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 4rem;
}
.traka {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 3rem;
}

.traka img {
  height: 1.8rem;
  width: auto;
  padding-top: 0.3rem;
  padding-right: 3rem;
}

.traka .hamburger {
  color: rgb(255, 255, 255);
  display: none;
}

.traka ul li {
  display: inline-block;
  margin: 0 2rem;
}

.traka ul li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 1rem;
}

.traka ul li a:hover {
  color: rgb(207, 158, 68);
  transition: 0.3s ease 0s;
}

@media (max-width: 768px) {
  .traka ul li {
    display: none;
  }
  .traka img {
    display: block;
    position: absolute;
    top: 1.5rem;
    left: 4rem;
    height: 1.5rem;
    width: auto;
  }
  .traka .hamburger {
    display: block;
    position: absolute;
    top: 1.5rem;
    right: 4rem;
    cursor: pointer;
  }
}

@media (max-width: 768px) {
  #nav-links {
    display: none;
    flex-direction: column;
    gap: 1rem;
    background-color: darkblue;
    padding: 1rem;
    position: absolute;
    top: 4rem;
    right: 2rem;
    z-index: 99;
    border-radius: 10px;
  }

  #nav-links.active {
    display: flex;
  }
}


@media (max-width: 480px) {
  .traka ul li {
    display: none;
  }
  .traka img {
    display: block;
    position: absolute;
    top: 1.5rem;
    left: 3rem;
    height: 1.2rem;
    width: auto;
  }
  .traka .hamburger {
    display: block;
    position: absolute;
    top: 1.5rem;
    right: 3rem;
    cursor: pointer;
  }
}

@media (max-width: 375px) {
  .traka ul li {
    display: none;
  }
  .traka img {
    display: block;
    position: absolute;
    top: 1.5rem;
    left: 3rem;
    height: 1rem;
    width: auto;
  }
  .traka .hamburger {
    display: block;
    position: absolute;
    top: 1.5rem;
    right: 3rem;
    cursor: pointer;
  }
}

/* __________NAVIGATION BAR____________ */




/* SADRZAJ */

.cover img {
  display: block;
  width: 100%;
  object-fit: cover;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 5rem 1rem 5rem;
}

.text h2 {
  font-size: 1.5rem;
  font-weight: 400;
  color: rgb(42, 42, 42);
  text-align: center;
}

.text p {
  font-size: 1rem;
  color: rgb(0, 0, 0);
  text-align: center;
  padding-top: 1rem;
}

.text p b {
  font-weight: 500;
}

.text p strong {
  font-weight: 500;
}

@media (max-width: 1200px) {
  .intro {
    padding: 3rem 5rem 1rem 5rem;
  }
  .text h2 {
    font-size: 1.4rem;
  }
  .text p {
    font-size: 0.9rem;
  }
}

@media (max-width: 768px) {
  .intro {
    padding: 2rem 3rem 0 3rem;
  }
  .text h2 {
    font-size: 1.2rem;
  }
  .text p {
    font-size: 0.8rem;
  }
}

@media (max-width: 535px) {
  .intro {
    padding: 2rem 2rem 0 2rem;
  }
  .text h2 {
    font-size: 1rem;
  }
  .text p {
    font-size: 0.7rem;
  }
}

@media (max-width: 375px) {
  .intro {
    padding: 1.3rem 1.3rem 0 1.3rem;
  }
  .text h2 {
    font-size: 0.9rem;
  }
  .text p {
    font-size: 0.7rem;
  }
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
  padding: 0.6rem 1rem;
  background-color: rgb(241, 162, 15);
  text-align: center;
  border-radius: 15px;
  border: none;
  box-shadow: 0px 4px 10px rgba(65, 65, 65, 0.3);
}

.btn a {
  color: white;
  text-decoration: none;
  font-size: 0.8rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.btn:hover {
  background-color: rgb(62, 62, 62);
  transition: 0.3s ease 0s;
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .btn {
    padding: 0.3rem 0.6rem;
  }
  .btn a {
    font-size: 0.7rem;
  }
}

@media (max-width: 480px) {
  .btn {
    padding: 0.2rem 0.5rem;
  }
  .btn a {
    font-size: 0.5rem;
  }
}

.cover2 img {
  display: block;
  max-width: 85%;
  object-fit: cover;
  margin: 0 auto;
  box-shadow: 0px 5px 7px rgba(65, 65, 65, 0.8);
}

.moto {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-left: 3.5rem;
  padding-right: 3.5rem;
}

.moto-text {
  text-align: center;
  font-size: 1rem;
  padding: 2rem;
}

.moto-tags {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
  font-size: 1rem;
  padding-bottom: 1rem;
  cursor: default;
}

.moto-tags span:hover {
  transition: 0.1s ease 0s;
  transform: scale(1.1);
}

@media (max-width: 535px) {
  .moto {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .moto-text {
    font-size: 0.8rem;
  }
  .moto-tags {
    font-size: 0.8rem;
    gap: 0.5rem;
  }
}

@media (max-width: 480px) {
  .moto {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .moto-text {
    font-size: 0.7rem;
  }
  .moto-tags {
    font-size: 0.7rem;
  }
}

@media (max-width: 375px) {
  .moto {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  .moto-text {
    font-size: 0.6rem;
  }
  .moto-tags {
    font-size: 0.5rem;
    gap: 0.5rem;
  }
}

@media (max-width: 300px) {
  .moto {
    padding-left: 0.3rem;
    padding-right: 0.3rem;
  }
  .moto-text {
    font-size: 0.5rem;
  }
  .moto-tags {
    font-size: 0.5rem;
    gap: 0.5rem;
  }
}
/* __________SADRZAJ__________ */



/* FOOTER */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 1rem;
  background-color: #1E201E;
  box-shadow: 0px 0px 15px rgba(65, 65, 65, 0.3);
}

.footer-logo img {
  height: 1.8rem;
  width: auto;
}

.footer-link ul li {
  list-style: none;
  line-height: 1.5;
  text-align: center;
  padding-top: 1rem;
}

.footer-link ul li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 1rem;
}

.footer-link ul li a:hover {
  color: rgb(207, 158, 68);
  transition: 0.3s ease 0s;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding-top: 1rem;
}

.fb i {
  color: rgb(33, 86, 244);
}

.insta i {
  color: rgb(241, 53, 88);
}

.footer-signature {
  padding-bottom: 1rem;
  padding-top: 1rem;
  color: white;
}

@media (max-width: 768px) {
  .footer-logo img {
    height: 1.5rem;
  }
  .footer-link ul {
    flex-direction: column;
    align-items: center;
  }
  .footer-link ul li {
    padding-top: 0.5rem;
  }
  .footer-link ul li a {
    font-size: 0.9rem;
  }
  .social {
    font-size: 0.8rem;
  }
  .footer-signature {
    font-size: 0.7rem;
  }
}

@media (max-width: 480px) {
  .footer-logo img {
    height: 1.2rem;
  }
  .footer-link ul li a {
    font-size: 0.8rem;
  }
  .social {
    font-size: 0.7rem;
  }
  .footer-signature {
    font-size: 0.6rem;
  }
}

@media (max-width: 375px) {
  .footer-logo img {
    height: 1rem;
  }
  .footer-link ul li a {
    font-size: 0.7rem;
  }
  .social {
    font-size: 0.6rem;
  }
  .footer-signature {
    font-size: 0.5rem;
  }
}

@media (max-width: 300px) {
  .footer-logo img {
    height: 0.8rem;
  }
  .footer-link ul li {
    padding-top: 0.3rem;
    line-height: 0.8rem;
  }
  .footer-link ul li a {
    font-size: 0.6rem;
  }
  .social {
    font-size: 0.5rem;
  }
  .footer-signature {
    font-size: 0.4rem;
  }
}
/* __________FOOTER__________ */