@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}


/* NAVIGATION BAR */

header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 4rem;
}
.traka {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 3rem;
}

.traka img {
  height: 1.8rem;
  width: auto;
  padding-top: 0.3rem;
  padding-right: 3rem;
}

.traka img:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.traka .hamburger {
  color: rgb(255, 255, 255);
  display: none;
}

.traka ul li {
  display: inline-block;
  margin: 0 2rem;
}

.traka ul li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 1rem;
}

.traka ul li a:hover {
  color: rgb(207, 158, 68);
  transition: 0.3s ease 0s;
}

@media (max-width: 768px) {
  #nav-links {
    display: none;
    flex-direction: column;
    text-align: center;
    background-color: #1e201e;
    gap: 1rem;
    padding: 1rem 4rem 1rem 4rem;
    position: absolute;
    top: 300%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    border-radius: 10px;
  }

  #nav-links li a {
    font-size: 1rem;
  }

  #nav-links.active {
    display: flex;
  }
  .traka img {
    display: block;
    position: absolute;
    top: 1.5rem;
    left: 4rem;
    height: 1.5rem;
    width: auto;
  }
  .traka .hamburger {
    display: block;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
  }
}


@media (max-width: 480px) {
  #nav-links {
    display: none;
    flex-direction: column;
    text-align: center;
    background-color: #1e201e;
    gap: 0.5rem;
    padding: 0.8rem 3rem 0.8rem 3rem;
    position: absolute;
    top: 250%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    border-radius: 10px;
  }

  #nav-links li a {
    font-size: 0.8rem;
  }

  #nav-links.active {
    display: flex;
  }
  .traka img {
    display: block;
    position: absolute;
    top: 1.5rem;
    left: 3rem;
    height: 1.2rem;
    width: auto;
  }
  .traka .hamburger {
    display: block;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
  }
}

@media (max-width: 375px) {
  #nav-links {
    display: none;
    flex-direction: column;
    text-align: center;
    background-color: #1e201e;
    gap: 0.5rem;
    padding: 0.8rem 2rem 0.8rem 2rem;
    position: absolute;
    top: 250%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    border-radius: 10px;
  }
  #nav-links li a {
    font-size: 0.7rem;
  }

  #nav-links.active {
    display: flex;
  }
  .traka img {
    display: block;
    position: absolute;
    top: 1.5rem;
    left: 3rem;
    height: 1rem;
    width: auto;
  }
  .traka .hamburger {
    display: block;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
  }
}

/* __________NAVIGATION BAR____________ */






/* SADRZAJ */

header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 4rem;
  z-index: 100;
}

.hero-video {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9;
  overflow: hidden;
}

.hero-video video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -60%);
  z-index: 1;
}

@media (max-width: 768px) {
  .video-hero {
    aspect-ratio: 9/16;
  }
}



.video-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  padding: 2rem 2rem;
}

.video-container iframe {
  width: 450px;
  height: 250px;
}

.text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 2rem 2.5rem 2rem;
  text-align: center;
}

.text p {
  font-size: 1rem;
  line-height: 1.5;
}


/* FOOTER */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 1rem;
  background-color: #1E201E;
  box-shadow: 0px 0px 15px rgba(65, 65, 65, 0.3);
}

.footer-logo img {
  height: 1.8rem;
  width: auto;
}

.footer-link ul li {
  list-style: none;
  line-height: 1.5;
  text-align: center;
  padding-top: 1rem;
}

.footer-link ul li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 1rem;
}

.footer-link ul li a:hover {
  color: rgb(207, 158, 68);
  transition: 0.3s ease 0s;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding-top: 1rem;
}

.fb i {
  color: rgb(33, 86, 244);
}

.insta i {
  color: rgb(241, 53, 88);
}

.footer-signature {
  padding-bottom: 1rem;
  padding-top: 1rem;
  color: white;
}

@media (max-width: 768px) {
  .footer-logo img {
    height: 1.5rem;
  }
  .footer-link ul {
    flex-direction: column;
    align-items: center;
  }
  .footer-link ul li {
    padding-top: 0.5rem;
  }
  .footer-link ul li a {
    font-size: 0.9rem;
  }
  .social {
    font-size: 0.8rem;
  }
  .footer-signature {
    font-size: 0.7rem;
  }
}

@media (max-width: 480px) {
  .footer-logo img {
    height: 1.2rem;
  }
  .footer-link ul li a {
    font-size: 0.8rem;
  }
  .social {
    font-size: 0.7rem;
  }
  .footer-signature {
    font-size: 0.6rem;
  }
}

@media (max-width: 375px) {
  .footer-logo img {
    height: 1rem;
  }
  .footer-link ul li a {
    font-size: 0.7rem;
  }
  .social {
    font-size: 0.6rem;
  }
  .footer-signature {
    font-size: 0.5rem;
  }
}

@media (max-width: 300px) {
  .footer-logo img {
    height: 0.8rem;
  }
  .footer-link ul li {
    padding-top: 0.3rem;
    line-height: 0.8rem;
  }
  .footer-link ul li a {
    font-size: 0.6rem;
  }
  .social {
    font-size: 0.5rem;
  }
  .footer-signature {
    font-size: 0.4rem;
  }
}
/* ______FOOTER________ */